header {
  padding: .5em .5em 0em .5em;
  -webkit-box-shadow: 0px 10px 14px -15px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 10px 14px -15px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 14px -15px rgba(0, 0, 0, 0.45);
}

#toggle-nav-left {
  cursor: pointer;
  position: relative;
  left: 10em;
}

#header-user {
  float: right;
}

#header-notification {
  float: right;
  margin-right: 1em;
}

#icon-notification-qty {
  position: relative;
  top: -.8em;
  right: 0.8em;
}
.expand-header{
  width: 100% !important;
  height: 3em;
  background-color:white;
  position: fixed; 
  z-index: 10;  
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
}
.compress-header{
  height: 3em;
  width: 69.2em;
  background-color:white;
  position: fixed; 
  z-index: 10; left:16em;
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;

}