.t-linear {
    transition: margin-left 1s;
}


.wrapper{
    padding-top: 45px;
    margin-left: 256px;
    transition: margin-left 0.5s;
    -webkit-transition: margin-left 0.5s;
    -moz-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
    background: #f8f8f8;
}

.wrapper-expanded{
    margin-left: 60px;
    transition: margin-left 0.5s;
    -webkit-transition: margin-left 0.5s;
    -moz-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
}